
@font-face {
    font-family:marker;
    src: url(PermanentMarker-Regular.ttf);
}
.header-text{
    text-align: center;
    border: solid ;
    color: black;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;  
    background-color: yellow;
}



#fluid{
    max-width: 100%;
    height: auto;
}

h1{
    font-family: 'marker', Times, serif;
    text-align: center;
}

.card-group{
    margin-top: 10%;
    color: white;
}



.card-body{
    background-color: black;
}



.body{
    background-color: #857678;
}

#img1{
    width: 500px;
    height: 500px;
}

.mb-3{
    border: 2px ;
    padding: 50px;
    background-color: black ;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;

}

.footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 40px; 
}

a{
    text-decoration: none;
    color: white;
}

h2 {
    text-align: center;
    font-family: marker, "Helvetica Neue", Helvetica, sans-serif;
}

.coitener{
    margin-top: 10% ;
    text-align: center;
    background-color: yellow;
}

.lan{
    margin-top: 10%;
    background-color: yellow;
}

#carouselExample{
    margin-top: 10%;
}

#end{
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    

}

.containertext-center{
    margin-top: 5%;
}


